.DS_Store
/node_modules/
yarn-error.log
/static/*.css
/static/icons.svg
/static/inline-script.js.map
/static/emoji-*.json
/static/manifest.json
/src/inline-script/checksum.js
/vercel.json

# Intellij IDEA
.idea/
.svelte-kit
.vercel
.env.local
dist
coverage
