.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/__sapper__/
/src/template.html
/static/*.css
/static/icons.svg
/static/inline-script.js.map
/static/emoji-*.json
/static/manifest.json
/src/inline-script/checksum.js

# Intellij IDEA
.idea/