$main-theme-color: #bf4564;
$main-bg-color: #0F1015;
$body-bg-color: darken($main-bg-color, 5%);
$anchor-color: $main-theme-color;
$main-text-color: #B0A8B9;
$border-color: lighten($body-bg-color, 10%);
$secondary-text-color: #dfdfdf;
$secondary-accent-color: #2A6F73;
$toast-border: $secondary-accent-color;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: lighten($main-theme-color, 52%);

@import '_base.scss';
@import '_dark.scss';
@import '_dark_navbar.scss';
@import '_dark_scrollbars.scss';
