$main-theme-color: hotpink;
//$main-theme-color: hotpink;
$main-bg-color: #28252e;
$body-bg-color: darken($main-bg-color, 5%);
$anchor-color: $main-theme-color;
$main-text-color: #fff;
$border-color: lighten($body-bg-color, 10%);
$secondary-text-color: white;
$secondary-accent-color: #fafafa;
$toast-border: $secondary-accent-color;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: lighten($main-theme-color, 52%);

@import '_base.scss';
@import '_dark.scss';
@import '_dark_navbar.scss';
@import '_dark_scrollbars.scss';

:root {
  accent-color: #{darken($main-theme-color, 5%)};
}
