$main-theme-color: #177380;
$body-bg-color: lighten($main-theme-color, 60%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$secondary-accent-color: #fafafa;
$toast-border: $secondary-accent-color;
$toast-bg: #333;
$focus-outline: lighten($main-theme-color, 50%);
$compose-background: lighten($main-theme-color, 52%);

@import '_base.scss';
@import '_light_scrollbars.scss';
